<<<<<<< HEAD
.popup__fullscreen-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
=======
.popup__fullscreen-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
>>>>>>> 4736fe3 (meh)
  }