.popup__title{
    margin:0;
    font-size:24px;
    line-height: 29.05px;
    font-weight: 900;
    color:#000;
    margin-bottom: 49px;
}


@media  screen and (max-width:879px){
    .popup__title{
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 76px;
    }
    
}