.popup__input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size:14px;
    font-weight: 400;
    line-height:16.94px;
    margin:0;
    padding-bottom: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width:430px;
}

.popup__input:last-of-type{
    margin-top:31px;
}

@media  screen and (max-width:879px){
    .popup__input{
        max-width: 238px;
    }
    
}