<<<<<<< HEAD
.popup__close-button {
    width: 32px;
    height: 32px;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
    }
=======
.popup__close-button {
    width: 32px;
    height: 32px;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
    }
>>>>>>> 4736fe3 (meh)
}