.profile__status{
    margin:0;
    margin-bottom: 17px;
    max-width:336px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    grid-column-start: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;

}


@media screen and (max-width:879px){
    .profile__status{
        margin: 9px 0 0 23px;
        font-size: 14px;
        line-height: 16.94px;
    }
}