.popup__close{
    width: 32px;
    height: 32px;
    position:absolute;
    top:-12%;
    left:102%;
    background: url(../../../images/CloseIcon.svg);
    border: none;
    background-size: contain;
    cursor: pointer;
}

.popup__close:hover{
    opacity: 0.6;
}


@media screen and (max-width:879px){
    .popup__close{
        width: 20px;
        height: 20px;
        left:93%;
        top:-11%;
    }
    
}