<<<<<<< HEAD
.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
=======
.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
>>>>>>> 4736fe3 (meh)
}