.profile__edit-avatar {
  border-radius: 50%;
  max-width: 120px;
  width: 100%;
  min-height: 120px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  position: relative;
  border-radius: 50%;
}