.header {
  max-width: 880px;
  min-height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 45px 50px 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 28px 0 42px;
    min-height: 55px;
  }
}