.profile__add-button{
    justify-self: flex-end;
    margin-top:30px;
    width:150px;
    height: 50px;
    background-size:22px;
    background-image: url(../../../images/Vector.png);
    border: 2px solid #FFF;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


@media screen and (max-width:879px){
    .profile__add-button{
        margin-top:33px;
        width: 282px;
        height: 50px;
    }
}


.profile__add-button:hover{
    opacity: 0.6;
}