.elements{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(282px,1fr));
    gap:20px 17px;
}

@media screen and (max-width:879px){
    .elements{
        max-width: 582px;
        margin:0 auto;
    }
}