<<<<<<< HEAD
.element {
    display: grid;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    grid-template-columns: 1fr;
=======
.element {
    display: grid;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    grid-template-columns: 1fr;
>>>>>>> 4736fe3 (meh)
}