@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__title-block/element__title-block.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__name-input/popup__name-input.css);
@import url(../blocks/popup/__job-input/popup_job-input.css);
@import url(../blocks/popup-cards/popup-cards.css);
@import url(../blocks/popup-cards/__container/popup-cards__container.css);
@import url(../blocks/popup-cards/__close/popup-cards__close.css);
@import url(../blocks/popup-cards/__title/popup-cards__title.css);
@import url(../blocks/popup-cards/__form/popup-cards__form.css);
@import url(../blocks/popup-cards/__name-input/popup-cards__name-input.css);
@import url(../blocks/popup-cards/__url-input/popup-cads__url-input.css);
@import url(../blocks/popup-cards/__submit/popup-cards__sumbit.css);
@import url(../blocks/popup-cards/_opened/popup-cards_opened.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/popup-img/popup-img.css);
@import url(../blocks/popup-img/__container/popup-img__container.css);
@import url(../blocks/popup-img/__photo/popup-img__photo.css);
@import url(../blocks/popup-img/__text/popup-img__text.css);
@import url(../blocks/popup-img/__close/popup-img__close.css);
@import url(../blocks/popup/_avatar/__input.css);
@import url(../blocks/popup/__input/_type-error/popup__input_type-error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input/_type-error/_text/popup__input_type-error_text.css);
@import url(../blocks/popup/__submit/_inactive/popup__submit_inactive.css);
